<!DOCTYPE HTML>

{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %}
<title>M &amp; D Creations Contact Page</title>
<link id="openElement" rel="stylesheet" type="text/css" href="{% static "WEFiles/Css/openElement.css" %}" />
<link id="OETemplate1" rel="stylesheet" type="text/css" href="{% static "Templates/BaseLayer.css" %}" />
<link id="OETemplate2" rel="stylesheet" type="text/css" href="{% static "Templates/Copy%20%20-index.css" %}" />
<link id="OEBase" rel="stylesheet" type="text/css" href="{% static "contact.css" %}" />
<!--[if lte IE 7]> 
<link rel="stylesheet" type="text/css" href="{% static "WEFiles/Css/ie7.css" %}" />
<![endif]-->
<script type="text/javascript">
var WEInfoPage = {"PHPVersion":"phpOK","OEVersion":"1-44-5","PagePath":"contact","Culture":"DEFAULT","LanguageCode":"EN-US","RelativePath":"","RenderMode":"Export","PageAssociatePath":"contact","EditorTexts":null}
</script>
<script type="text/javascript" src="{% static "WEFiles/Client/jQuery/1.10.2.js" %}"></script>
<script type="text/javascript" src="{% static "WEFiles/Client/jQuery/migrate.js" %}"></script>
<script type="text/javascript" src="{% static "WEFiles/Client/Common/oe.min.js" %}"></script>
<script type="text/javascript" src="{% static "contact(var).js" %}"></script>
<script type="text/javascript" src="{% static "WEFiles/Client/jQuery/Plugins/jquery.form.js" %}"></script>
<script type="text/javascript" src="{% static "WEFiles/Client/openElementUI.js" %}"></script>
<script type="text/javascript" src="{% static "WEFiles/Client/jQuery/Plugins/jquery.simplemodal.js" %}"></script>
<script type="text/javascript" src="{% static "WEFiles/Client/WESendMail-v2.js" %}"></script>
{% endblock %}

{% block body_content %}
	<form id="XForm" method="post" action="#"></form>
	<div
	 id="XBody" class="BaseDiv RWidth OEPageXbody OESK_XBody_Default" style="z-index:2000">
		<div class="OESZ OESZ_DivLeft1 OESZG_XBody "></div>
		<div class="OESZ OESZ_DivLeft2 OESZG_XBody "></div>
		<div class="OESZ OESZ_DivLeft3 OESZG_XBody "></div>
		<div class="OESZ OESZ_DivLeft4 OESZG_XBody "></div>
		<div class="OESZ OESZ_DivContent OESZG_XBody ">
			<div class="OESZ OESZ_XBodyContent OESZG_XBody  OECT OECT_Content OECTAbs">
				<div id="WEbe6c128b6d" class="BaseDiv RWidth OEWEHr OESK_WEHrLign_12b97c2f" style="z-index:1001">
					<div class="OESZ OESZ_DivContent OESZG_WEbe6c128b6d ">
						<div class="OESZ OESZ_Deco1 OESZG_WEbe6c128b6d " style="position:absolute"></div><div class="OESZ OESZ_Deco2 OESZG_WEbe6c128b6d " style="position:absolute"></div><div class="OESZ OESZ_Deco3 OESZG_WEbe6c128b6d " style="position:absolute"></div></div>
				</div>
				<div id="WE6b4cb46002" class="BaseDiv RWidth OEWEHr OESK_WEHrLign_12b97c2f" style="z-index:1002">
					<div class="OESZ OESZ_DivContent OESZG_WE6b4cb46002 ">
						<div class="OESZ OESZ_Deco1 OESZG_WE6b4cb46002 " style="position:absolute"></div><div class="OESZ OESZ_Deco2 OESZG_WE6b4cb46002 " style="position:absolute"></div><div class="OESZ OESZ_Deco3 OESZG_WE6b4cb46002 " style="position:absolute"></div></div>
				</div>
				<div id="WE5b8844c927" class="BaseDiv RBoth OEWEImage OESK_WEImage_Default" style="z-index:2001">
					<div class="OESZ OESZ_DivContent OESZG_WE5b8844c927 ">
						<img style="" src="{% static "WEFiles/Image/WEImage/8ba4564bDEFAULT.png" %}" data-cd="ImageLink" alt="" /></div>
				</div>
				<div id="WEbd43f1999b" class="BaseDiv RBoth OEWEImage OESK_WEImage_Default" style="z-index:2002">
					<div class="OESZ OESZ_DivContent OESZG_WEbd43f1999b ">
						<img style="" src="{% static "WEFiles/Image/WEImage/8711693cDEFAULT.png" %}" data-cd="ImageLink" alt="" /></div>
				</div>
				<div id="WE88f2744109" class="BaseDiv RWidth OEWEText OESK_WEText_Default" style="z-index:2003">
					<div class="OESZ OESZ_DivContent OESZG_WE88f2744109 ">
						<span class="ContentBox" data-cd="Text">&nbsp; &nbsp; &nbsp;<br />&nbsp; &nbsp; &nbsp;Find us on Facebook : www.facebook.com/yoursite<br /><br />&nbsp; &nbsp; &nbsp;Add phone or secondary email : ?<br /><br />&nbsp; &nbsp; &nbsp;Or fill out and subimt the form below to contact M &amp; D Creations !<br /></span></div>
				</div>
				<div id="WE4420344db8" class="BaseDiv RBoth OEWEImage OESK_WEImage_Default" style="z-index:2004">
					<div class="OESZ OESZ_DivContent OESZG_WE4420344db8 ">
						<img style="" src="{% static "Files/Image/nameB.png" %}" data-cd="ImageLink" alt="" /></div>
				</div>
				<div id="WEd0551f7213" class="BaseDiv RWidth OEWETextBoxV2 OESK_WETextBox2_Default" style="z-index:2008">
					<div class="OESZ OESZ_DivContent OESZG_WEd0551f7213 ">
						<input name="WEd0551f7213" type="text" class="OESZ OESZ_TextBox OESZG_WEd0551f7213  OEDynTag0" /></div>
				</div>
				<div id="WEf46f272cfc" class="BaseDiv RBoth OEWEImage OESK_WEImage_Default" style="z-index:2005">
					<div class="OESZ OESZ_DivContent OESZG_WEf46f272cfc ">
						<img style="" src="{% static "Files/Image/phoneB.png" %}" data-cd="ImageLink" alt="" /></div>
				</div>
				<div id="WEaf1bc96b63" class="BaseDiv RWidth OEWETextBoxV2 OESK_WETextBox2_Default" style="z-index:2009">
					<div class="OESZ OESZ_DivContent OESZG_WEaf1bc96b63 ">
						<input name="WEaf1bc96b63" type="text" class="OESZ OESZ_TextBox OESZG_WEaf1bc96b63  OEDynTag0" /></div>
				</div>
				<div id="WE4512c47b44" class="BaseDiv RBoth OEWEImage OESK_WEImage_Default" style="z-index:2006">
					<div class="OESZ OESZ_DivContent OESZG_WE4512c47b44 ">
						<img style="" src="{% static "Files/Image/emailB.png" %}" data-cd="ImageLink" alt="" /></div>
				</div>
				<div id="WE9a4b0031d0" class="BaseDiv RWidth OEWETextBoxV2 OESK_WETextBox2_Default" style="z-index:2010">
					<div class="OESZ OESZ_DivContent OESZG_WE9a4b0031d0 ">
						<input name="WE9a4b0031d0" type="text" class="OESZ OESZ_TextBox OESZG_WE9a4b0031d0  OEDynTag0" /></div>
				</div>
				<div id="WE9bd5cee6ab" class="BaseDiv RBoth OEWEImage OESK_WEImage_Default" style="z-index:2007">
					<div class="OESZ OESZ_DivContent OESZG_WE9bd5cee6ab ">
						<img style="" src="{% static "Files/Image/detailsB.png" %}" data-cd="ImageLink" alt="" /></div>
				</div>
				<div id="WE41e5c7cc8f" class="BaseDiv RBoth OEWETextAreaV2 OESK_WETextArea2_Default" style="z-index:2011">
					<div class="OESZ OESZ_DivContent OESZG_WE41e5c7cc8f ">
						<textarea class="OESZ OESZ_TextArea OESZG_WE41e5c7cc8f  OEDynTag0" name="WE41e5c7cc8f" rows="3" cols="50"></textarea></div>
				</div>
				<div id="WE9def4af564" class="BaseDiv RBoth OEWEImage OESK_WEImage_Default" style="z-index:2012">
					<div class="OESZ OESZ_DivContent OESZG_WE9def4af564 ">
						<img style="" src="{% static "WEFiles/Image/WEImage/85de6144DEFAULT.png" %}" data-cd="ImageLink" alt="" /></div>
				</div>
			</div>
		</div></div></div>
{% endblock %}