<!DOCTYPE HTML><!-- Always needs to be first line for wc3 (or wtf ever it is) compliance-->

{% extends "base.html" %}
{% load staticfiles %}

{% block active %}{% static "gallery.css" %}{% endblock %}
{% block page_path %}gallery{% endblock %}
{% block page_path2 %}gallery{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static "WEFiles/Css/WEGallery1-v1.css" %}" />
<script type="text/javascript" src="{% static "WEFiles/Client/jQuery/1.10.2.js" %}"></script>
<script type="text/javascript" src="{% static "WEFiles/Client/jQuery/migrate.js" %}"></script>
<script type="text/javascript" src="{% static "WEFiles/Client/Common/oe.min.js" %}"></script>
<script type="text/javascript" src="{% static "gallery(var).js" %}"></script>
<script type="text/javascript" src="{% static "WEFiles/Client/WEGallery1-v1.js" %}"></script>
<script type="text/javascript" src="{% static "WEFiles/Client/jquery.galleriffic-v1.js" %}"></script>
{% block body_content %}
    <div id="WEbe6c128b6d" class="BaseDiv RWidth OEWEHr OESK_WEHrLign_12b97c2f" style="z-index:1001">
        <div class="OESZ OESZ_DivContent OESZG_WEbe6c128b6d ">
            <div class="OESZ OESZ_Deco1 OESZG_WEbe6c128b6d " style="position:absolute">

            </div>
            <div class="OESZ OESZ_Deco2 OESZG_WEbe6c128b6d " style="position:absolute">

            </div><div class="OESZ OESZ_Deco3 OESZG_WEbe6c128b6d " style="position:absolute">

            </div>
        </div>
   </div>

   <div id="WE6b4cb46002" class="BaseDiv RWidth OEWEHr OESK_WEHrLign_12b97c2f" style="z-index:1002">
        <div class="OESZ OESZ_DivContent OESZG_WE6b4cb46002 ">
            <div class="OESZ OESZ_Deco1 OESZG_WE6b4cb46002 " style="position:absolute">

            </div><div class="OESZ OESZ_Deco2 OESZG_WE6b4cb46002 " style="position:absolute">

            </div><div class="OESZ OESZ_Deco3 OESZG_WE6b4cb46002 " style="position:absolute">

            </div>
        </div>
   </div>

   <div id="WE720b194f64" class="BaseDiv RBoth OEWEGallery1 OESK_WEGallery1_Default" style="z-index:2001">
        <div class="OESZ OESZ_DivContent OESZG_WE720b194f64 ">
            <div id="container" class="container">
                <div class="navigation-container OESZ OESZ_Navigation-container OESZG_WE720b194f64 ">
                <div id="thumbs" class="navigation">
                <a class="pageLink prev OESZ OESZ_PreviousPage OESZG_WE720b194f64 " style="visibility: hidden;" href="#"></a>
                <ul class="thumbs noscript OESZ_thumbs">
                <li>
                    <a class="thumb" title="" href="{% static "WEFiles/Image/Gallery/875949c2-a584-44cd-abb3-987f96ad08e5/IMG952014100295154227_2.jpg" %}">
                        <img class="OESZ OESZ_Thumb OESZG_WE720b194f64 " src="{% static "WEFiles/Image/Gallery/875949c2-a584-44cd-abb3-987f96ad08e5/IMG952014100295154227_1.jpg" %}" alt="thumbnail " />
                    </a>
                    <div class="caption">
                        <div class="image-title">
                            <span class="OESZ OESZ_Title OESZG_WE720b194f64 ">IMG952014100295154227.jpg</span>
                            <span class="OESZ OESZ_Description OESZG_WE720b194f64 "></span>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="thumb" title="" href="{% static "WEFiles/Image/Gallery/875949c2-a584-44cd-abb3-987f96ad08e5/IMG_0029_2.jpg" %}">
                        <img class="OESZ OESZ_Thumb OESZG_WE720b194f64 " src="{% static "WEFiles/Image/Gallery/875949c2-a584-44cd-abb3-987f96ad08e5/IMG_0029_1.jpg" %}" alt="thumbnail " /></a>
                    <div class="caption">
                        <div class="image-title">
                            <span class="OESZ OESZ_Title OESZG_WE720b194f64 ">IMG_0029.jpg</span>
                            <span class="OESZ OESZ_Description OESZG_WE720b194f64 "></span>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="thumb" title="" href="{% static "WEFiles/Image/Gallery/875949c2-a584-44cd-abb3-987f96ad08e5/IMG952014082795210708_2.jpg" %}">
                        <img class="OESZ OESZ_Thumb OESZG_WE720b194f64 " src="{% static "WEFiles/Image/Gallery/875949c2-a584-44cd-abb3-987f96ad08e5/IMG952014082795210708_1.jpg" %}" alt="thumbnail " /></a>
                    <div class="caption">
                        <div class="image-title">
                            <span class="OESZ OESZ_Title OESZG_WE720b194f64 ">IMG952014082795210708.jpg</span>
                            <span class="OESZ OESZ_Description OESZG_WE720b194f64 "></span>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="thumb" title="" href="{% static "WEFiles/Image/Gallery/875949c2-a584-44cd-abb3-987f96ad08e5/PART_1419807483050_2.jpg" %}">
                        <img class="OESZ OESZ_Thumb OESZG_WE720b194f64 " src="{% static "WEFiles/Image/Gallery/875949c2-a584-44cd-abb3-987f96ad08e5/PART_1419807483050_1.jpg" %}" alt="thumbnail " /></a>
                    <div class="caption">
                        <div class="image-title">
                            <span class="OESZ OESZ_Title OESZG_WE720b194f64 ">PART_1419807483050.jpg</span>
                            <span class="OESZ OESZ_Description OESZG_WE720b194f64 "></span>
                        </div>
                    </div>
                </li>
                </ul>
                <a class="pageLink next OESZ OESZ_NextPage OESZG_WE720b194f64 " style="visibility: hidden;" href="#"></a>
                </div>
                </div>
                <div class="content">
                    <div class="slideshow-container">
                        <div class="controls controls_WE720b194f64 OESZ OESZ_ControlsPlayer OESZG_WE720b194f64 "></div>
                        <div class="loader loading loading_WE720b194f64"></div>
                        <div class="slideshow OESZ_ImageFrame slideshow_WE720b194f64"></div>
                    </div>
                </div>
                <div class="caption-container caption_WE720b194f64"><div class="photo-index OESZ OESZ_PageIndex OESZG_WE720b194f64 "></div></div>
                <div style="clear: both;"></div>
            </div>
        </div>
   </div>

   <div id="WE65a9e516bd" class="BaseDiv RBoth OEWEImage OESK_WEImage_Default" style="z-index:2002">
        <div class="OESZ OESZ_DivContent OESZG_WE65a9e516bd ">
            <img style="" src="{% static "WEFiles/Image/WEImage/e97bfbdfDEFAULT.png" %}" data-cd="ImageLink" alt="" />
        </div>
   </div>

   <div id="WE5ffc242f07" class="BaseDiv RBoth OEWEImage OESK_WEImage_Default" style="z-index:2004">
        <div class="OESZ OESZ_DivContent OESZG_WE5ffc242f07 ">
            <img style="" src="{% static "WEFiles/Image/WEImage/a452953fDEFAULT.png" %}" data-cd="ImageLink" alt="" />
        </div>
   </div>
    <div id="WE4047b9c1cf" class="BaseDiv RWidth OEWEText OESK_WEText_Default" style="z-index:2006">
        <div class="OESZ OESZ_DivContent OESZG_WE4047b9c1cf ">
            <span class="ContentBox" data-cd="Text">Set Admin control to Gallery text 1-
                <br />
                <br />Filler line-----------------------------------------------------------------------------------------------------------------------------------
                <br />
            </span>
        </div>
    </div>
    <div id="WE5d1f199dcf" class="BaseDiv RBoth OEWEImage OESK_WEImage_Default" style="z-index:2003">
        <div class="OESZ OESZ_DivContent OESZG_WE5d1f199dcf ">
            <img style="" src="{% static "WEFiles/Image/WEImage/f80877efDEFAULT.png" %}" data-cd="ImageLink" alt="" />
        </div>
    </div>
    <div id="WE505c6e6228" class="BaseDiv RBoth OEWEImage OESK_WEImage_Default" style="z-index:2005">
        <div class="OESZ OESZ_DivContent OESZG_WE505c6e6228 ">
            <img style="" src="{% static "WEFiles/Image/WEImage/a452953fDEFAULT.png" %}" data-cd="ImageLink" alt="" />
        </div>
    </div>
    <div id="WEef614d17fb" class="BaseDiv RWidth OEWEText OESK_WEText_Default" style="z-index:2007">
        <div class="OESZ OESZ_DivContent OESZG_WEef614d17fb ">
            <span class="ContentBox" data-cd="Text">Set Admin control to Gallery text 2-
                <br />
                <br />
                Filler line-------------------------------------------------------------------------------------------------------------------------------------------------------------
                <br />
            </span>
        </div>
    </div>
{% endblock %}