<!DOCTYPE HTML>

{% extends "base.html" %}
{% load staticfiles %}
{% block head_block %}
<link id="OEBase" rel="stylesheet" type="text/css" href="{% static "index.css" %}" />
<link id="openElement" rel="stylesheet" type="text/css" href="{% static "WEFiles/Css/openElement.css" %}" />
<link id="OETemplate1" rel="stylesheet" type="text/css" href="{% static "Templates/BaseLayer.css" %}" />
<link id="OETemplate2" rel="stylesheet" type="text/css" href="{% static "Templates/Copy%20%20-index.css" %}" />
<!--[if lte IE 7]> 
<link rel="stylesheet" type="text/css" href="{% static "WEFiles/Css/ie7.css" %} />
<![endif]-->
<script type="text/javascript">
var WEInfoPage = {"PHPVersion":"phpOK","OEVersion":"1-44-5","PagePath":"index","Culture":"DEFAULT","LanguageCode":"EN-US","RelativePath":"","RenderMode":"Export","PageAssociatePath":"index","EditorTexts":null}
</script>
<script type="text/javascript" src="{% static "WEFiles/Client/jQuery/1.10.2.js" %}"></script>
<script type="text/javascript" src="{% static "WEFiles/Client/jQuery/migrate.js" %}"></script>
<script type="text/javascript" src="{% static "WEFiles/Client/Common/oe.min.js" %}"></script>
{% endblock %}

{% block body_content %}

				<div id="WEbca09f2c71" class="BaseDiv RWidth OEWEText OESK_WEText_Default" style="z-index:2001">
					<div class="OESZ OESZ_DivContent OESZG_WEbca09f2c71 ">
						<span class="ContentBox" data-cd="Text">Welcome to the&nbsp;<br /><br /><br /><br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Homepage!<br /></span></div>
				</div>
				<div id="WE20e21f5b7a" class="BaseDiv RBoth OEWEImage OESK_WEImage_Default" style="z-index:2002">
					<div class="OESZ OESZ_DivContent OESZG_WE20e21f5b7a ">
						<img style="" src="{% static "Files/Image/logo.png" %}" data-cd="ImageLink" alt="" /></div>
				</div>
			</div>

            {% endblock %}
