.OESK_XBody_Default{width:900px;margin:8px auto 15px}
.OESK_XBody_Default .OESZ_XBodyContent{width:100%;height:550px}
.OESK_XBody_Default .OESZ_XBodyFooter{width:100%;height:50px}
.OESK_WEText_Default{width:350px;height:80px}
#XBody{height:auto}
#WEbca09f2c71{position:absolute;left:70px;top:200px;width:780px;height:auto;font-size:40px;font-family:Arial, Helvetica, sans-serif}
#WE20e21f5b7a{position:absolute;left:240px;top:260px;width:388px;height:110px}

