.OESK_XBody_Default{width:900px;margin:8px auto 15px}
.OESK_XBody_Default .OESZ_XBodyContent{width:100%;height:550px}
.OESK_XBody_Default .OESZ_XBodyFooter{width:100%;height:50px}
.OESK_WEText_Default{width:350px;height:80px}
#XBody{height:auto}
#XBody .OESZ_XBodyContent{height:994px}
#WE2151b91cf8{position:absolute;left:560px;top:50px;width:180px;height:75px}
#WE5e14cad626{position:absolute;left:340px;top:740px;width:542px;height:231px}
#WE64d40bae91{position:absolute;left:370px;top:760px;width:523px;height:221px}
#WE07de9240a9{position:absolute;left:400px;top:780px;width:440px;height:auto;color:#FFF;font-size:20px;font-family:Arial, Helvetica, sans-serif}
#WEdeebc1711f{position:absolute;left:20px;top:740px;width:295px;height:216px}
#WEb8adbe57f6{position:absolute;left:0;top:450px;width:542px;height:231px}
#WE2dff2e2fc3{position:absolute;left:30px;top:470px;width:523px;height:221px}
#WE04d2e3c780{position:absolute;left:60px;top:490px;width:440px;height:auto;color:#FFF;font-size:20px;font-family:Arial, Helvetica, sans-serif}
#WE0521e1211e{position:absolute;left:560px;top:450px;width:295px;height:216px}
#WE52457ab33b{position:absolute;left:340px;top:160px;width:542px;height:231px}
#WE04882e7541{position:absolute;left:370px;top:180px;width:523px;height:221px}
#WE21c4d2ef55{position:absolute;left:400px;top:200px;width:440px;height:auto;color:#FFF;font-size:20px;font-family:Arial, Helvetica, sans-serif}
#WEedd06d5e4f{position:absolute;left:20px;top:160px;width:295px;height:216px}

